<h1 id="chatHeader">Chat 100% original</h1>
<a href="http://localhost:8080/realTimeProducts" target="_self">
  <button>Control de productos</button>
</a>

<ul id="messageList"></ul>
<form>
  <input type="text" name="messageInput" id="messageInput" />
  <button type="submit">Enviar</button>
</form>

<a href="http://localhost:8080/" target="_self">
  <button>Inicio</button>
</a>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="chat.client.js"></script>