<h1>Bien venido al home de ese proyecto!</h1>
<p>Productos ya cargados:</p>

<div id="validMemberMessage"></div>
<ul id="productList"></ul>
<a href="http://localhost:8080/realTimeProducts" target="_self">
  <button>Control de Productos</button>
</a>

{{#if hasDocuments}}
  {{#each payload}}
    <li>
      <p>Producto: {{this.title}}</p>
      <p>Costo: {{this.price}}</p>
    </li>
  {{/each}}
{{else}}
  <p>No hay productos por acá.</p>
{{/if}}

<a href="http://localhost:8080/chat" target="_self">
  <button>Chat 100% original</button>
</a>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="index.client.js"></script>