<h1 id="productHeader">Lista de Productos</h1>

<div class="product-grid" id="productList"></div>

<div>
<form enctype="multipart/form-data" class="product-form">
  <h2>Crear Producto</h2>

  <fieldset class="form-group">
    <label for="productTitle">Nombre:</label>
    <input required type="text" name="productTitle" id="productTitle" />
  </fieldset>

  <fieldset class="form-group">
    <label for="productDescription">Descripcion:</label>
    <input
      required
      type="text"
      name="productDescription"
      id="productDescription"
    />
  </fieldset>

  <fieldset class="form-group">
    <label for="productPrice">Precio:</label>
    <input required type="text" name="productPrice" id="productPrice" />
  </fieldset>

  <fieldset class="form-group">
    <label for="productCode">Codigo:</label>
    <input required type="text" name="productCode" id="productCode" />
  </fieldset>

  <fieldset class="form-group">
    <label for="productStatus">Disponibilidad:</label>
    <input type="checkbox" name="productStatus" id="productStatus" />
  </fieldset>

  <fieldset class="form-group">
    <label for="productStock">Stock:</label>
    <input type="text" name="productStock" id="productStock" />
  </fieldset>

  <fieldset class="form-group">
    <label for="productCategory">Categoria:</label>
    <input required type="text" name="productCategory" id="productCategory" />
  </fieldset>

  <fieldset class="form-group">
    <label for="productImage">Imagen:</label>
    <input type="file" name="productImage" id="productImage" accept="image/*" />
  </fieldset>

  <button type="submit">Enviar</button>
</form>
</div>

<div class="navigation-buttons">
  <a href="http://localhost:8080/" target="_self">
    <button>Inicio</button>
  </a>
  <a href="http://localhost:8080/chat" target="_self">
    <button>Chat</button>
  </a>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="products.client.js"></script>
